{% macro render_task(workflow_task) %}
{
    {% if workflow_task.description %}
        "description": "{{ workflow_task.description }}",
    {% endif %}
    
    "depends_on": [
        {% if workflow_task.dependencies %}
        {% for dependency in workflow_task.dependencies %}
        {"task_key": "{{ dependency.key }}"},
        {% endfor %}
        {% endif %}
    ],
    {% if workflow_task.cluster %}
    "job_cluster_key": "{{ workflow_task.cluster.job_cluster_key }}"
    {% elif workflow_task.existing_cluster_id %}
    "existing_cluster_id": "{{ workflow_task.existing_cluster_id }}",
    {% endif %},
    {% if workflow_task.libraries %}
    "libraries": [
        {% for library in workflow_task.libraries %}
            {% for source, target in library.items() %}
            {% if source == "pypi" %}
            {"pypi": {
                "package": "{{ target['package'] }}"
                }
            },
            {% endif %}
            {% endfor %}
        {% endfor %}
    ],
    {% endif %}
    {% if workflow_task._task_type == "python_wheel_task" %}
    "python_wheel_task": {
        "package_name": "{{ workflow_task.package_name }}",
        "entry_point": "{{ workflow_task.entrypoint }}",
        "parameters": [
            "{{ workflow_task.entrypoint }}",
            "{{ workflow_task.task_name }}",
            {% for param in workflow_task.parameters %}
            "{{ param }}",
            {% endfor %}
        ]
    },
    {% elif workflow_task._task_type == "notebook_task" %}
    "notebook_task": {
        "notebook_path": "{{ workflow_task.notebook_path }}",
        "source": "{{ workflow_task.source.value }}",
        "base_parameters": {
            {% for key, value in workflow_task.base_parameters %}
                "{{ key }}" :"{{ value }}",
            {% endfor %}
        }
    },
    {% elif workflow_task._task_type == "spark_python_task" %}
    "spark_python_task": {
        "python_file": "{{ workflow_task.python_file }}",
        "source": "{{ workflow_task.source.value }}",
        "parameters": [
            {% for param in workflow_task.parameters %}
            "{{ param }}",
            {% endfor %}
        ]
    },
    {% endif %}
    "email_notifications": {},
    "task_key": "{{ workflow_task.key }}",
},
{% endmacro %}